################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TechArmy1/.vs/TechArmy1/FileContentIndex/06ec6251-4318-4b16-a734-a958e426ee31.vsidx
/TechArmy1/.vs/TechArmy1/FileContentIndex/3b04574c-a705-45a1-af9a-fb8cbaab0645.vsidx
/TechArmy1/.vs/TechArmy1/FileContentIndex/3dc3748c-f8c2-4bd3-9e9d-df0b57811ae6.vsidx
/TechArmy1/.vs/TechArmy1/FileContentIndex/850e4b38-6212-457d-a957-4f0120f8c0e3.vsidx
/TechArmy1/.vs/TechArmy1/FileContentIndex/ba2becdf-441d-40c1-8bcd-b6c4685c7ac0.vsidx
